# junk for a repo
.DS_Store
errors.txt
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/cache/shaders.txt
*.save
game/saves/persistent
game/saves/navigation.json
*.bak
traceback.txt
*.rpyc
*.rpyb
log.txt
project.json
game/firstrun
characters/*.chr
*.swp
firstrun
game/python-packages

# fonts
*.ttf
*.otf

# 避免错误内置 DDLC 启动文件
DDLC.exe
DDLC.app
DDLC.py
DDLC.sh

# 避免内置 DDLC 游戏文件以免侵权
*.rpa

# 避免内置 Release 包
*.zip

# Avaliable free-to-use fonts 可用免费字体
!game/mod_assets/font/sarasagothic.ttf
!game/mod_assets/font/sayori.ttf
!game/mod_assets/font/yuri.ttf
!game/mod_assets/font/zhushi.ttf
!game/mod_assets/font/natsuki.otf
!game/mod_assets/font/zcoolkuaile.ttf
!game/mod_assets/font/sourcehanserif.otf
!game/mod_assets/font/monika.ttf
